<div class="dialog-header">
  <div class="dialog-title">
    <h2 *ngIf="mode === 'view'">Student Details</h2>
    <h2 *ngIf="mode === 'delete'">Delete</h2>
  </div>

  <div class="button-group">
    <button *ngIf="mode === 'delete'" mat-icon-button class="custom-icon-btn" (click)="onDelete()" matTooltip="Delete">
      <mat-icon fontIcon="delete" class="header-icon"></mat-icon>
    </button>

    <button mat-icon-button class="custom-icon-btn warn" (click)="onCancel()" matTooltip="Close">
      <mat-icon fontIcon="cancel" class="header-icon"></mat-icon>
    </button>
  </div>
</div>

<!-- SHOW THIS MESSAGE IN DELETE MODE -->
<div *ngIf="mode === 'delete'" class="p-3 mb-3 text-danger font-weight-bold">
  Are you sure you want to delete this student?
</div>

<!-- FORM SHOWN IN BOTH VIEW AND DELETE -->
<form [formGroup]="groupForm" mat-dialog-content>
  <div class="custom-input-wrapper">
    <div class="input-label-box">First Name</div>
    <mat-form-field appearance="fill" class="w-100 custom-mat-field">
      <input matInput placeholder=" " formControlName="firstName" readonly />
    </mat-form-field>
  </div>

  <div class="custom-input-wrapper">
    <div class="input-label-box">Last Name</div>
    <mat-form-field appearance="fill" class="w-100 custom-mat-field">
      <input matInput placeholder=" " formControlName="lastName" readonly />
    </mat-form-field>
  </div>

  <div class="custom-input-wrapper">
    <div class="input-label-box">Your Email</div>
    <mat-form-field appearance="fill" class="w-100 custom-mat-field">
      <input matInput placeholder=" " formControlName="email" readonly />
    </mat-form-field>
  </div>
</form>
