<h2 mat-dialog-title>Set up a new Group</h2>

<form [formGroup]="groupForm" (ngSubmit)="onSubmit()" mat-dialog-content>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Group Name</mat-label>
    <input matInput placeholder="Enter group name" formControlName="name" />
    <mat-error *ngIf="groupForm.get('name')?.invalid && groupForm.get('name')?.touched">
      Group name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Select Students</mat-label>
    <mat-select formControlName="students" multiple>
      <mat-option *ngFor="let student of studentsList" [value]="student._id">
        {{ student.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="groupForm.get('students')?.invalid && groupForm.get('students')?.touched">
      At least one student must be selected
    </mat-error>
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" [disabled]="groupForm.invalid">Save</button>
    <button mat-button type="button" color="warn" (click)="onCancel()">Cancel</button>
  </div>

</form>
