<div mat-dialog-title class="dialog-header">
  <div class="dialog-title">
      <h2 class="">Set up a new Group</h2>
  </div>
  <div class="button-group">
    <button mat-icon-button color="primary" type="submit" [disabled]="groupForm.invalid" (click)="onSubmit()" matTooltip="Save">
      <mat-icon fontIcon="check_circle" class="header-icon"></mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="onCancel()" matTooltip="Cancel">
      <mat-icon fontIcon="cancel" class="header-icon"></mat-icon>
    </button>
  </div>
</div>



<form [formGroup]="groupForm" mat-dialog-content>

  <!-- Group Name Styled like Select -->
  <div class="custom-input-wrapper">
    <div class="input-label-box">Group Name</div>
    <mat-form-field appearance="fill" class="w-100 custom-mat-field">
      <input matInput placeholder=" " formControlName="name" />
    </mat-form-field>
    <mat-error *ngIf="groupForm.get('name')?.invalid && groupForm.get('name')?.touched">
      Group name is required
    </mat-error>
  </div>

  <!-- Select Students -->
  <div class="custom-input-wrapper">
    <div class="input-label-box">Select Students</div>
    <mat-form-field appearance="fill" class="w-100 custom-mat-field">
      <mat-select formControlName="students" multiple placeholder=" ">
        <mat-option *ngFor="let student of studentsList" [value]="student._id">
          {{ student.first_name }} {{ student.last_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="groupForm.get('students')?.invalid && groupForm.get('students')?.touched">
      At least one student must be selected
    </mat-error>
  </div>

</form>



