.add-group-card {
    padding: 20px;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  
    mat-card-title {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    mat-card-actions {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  
    .custom-form-field {
      width: 100%;
    }
  }
  