<h2 class="font-medium text-xl p-5">Students list</h2>

<div class="flex justify-start items-center m-5">
  <button
    (click)="setTab('all')"
    [ngClass]="{
      'bg-black text-white': selectedTab === 'all',
      'bg-transparent text-black border border-black': selectedTab !== 'all'
    }"
    class="px-4 py-2 rounded mx-2 flex items-center transition-all duration-300 transform hover:-translate-y-1 hover:opacity-80 cursor-pointer"
  >
    All Students
  </button>

  <button
    (click)="setTab('no-group')"
    [ngClass]="{
      'bg-black text-white': selectedTab === 'no-group',
      'bg-transparent text-black border border-black': selectedTab !== 'no-group'
    }"
    class="px-4 py-2 rounded mx-2 flex items-center transition-all duration-300 transform hover:-translate-y-1 hover:opacity-80 cursor-pointer"
  >
    Students Without group
  </button>

  <div class="relative">
    <select
      id="groupSelect"
      (change)="onGroupSelected($event)"
      class="block w-full appearance-none bg-black text-white border border-gray-600 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 px-4 py-2 pr-10 transition-all duration-300 ease-in-out"
    >
      <option value="" disabled selected>Groups</option>
      <option
        *ngFor="let group of groups"
        [value]="group._id"
        class="bg-gray-100 text-black"
      >
        👥 {{ group.name }}
      </option>
    </select>

    <div class="pointer-events-none absolute inset-y-0 right-3 flex items-center text-white">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
  </div>


</div>

<!-- dynamic content -->
<ng-container [ngTemplateOutlet]="getTemplate()"></ng-container>

<!-- All Students Template -->
<ng-template #allStudentsTemplate>
  <div class="border-2 border-opacity-300 rounded-lg m-5 p-5">
    <h2 class="font-medium text-xl">Students List</h2>

    <div class="groups my-4 mx-2 grid sm:grid-cols-1 md:grid-cols-2 gap-5">
      @for (student of studentsPerPage; track $index) {
      <div class="group">
        <div class="r-side">
          <h3 class="group-title">{{ student.first_name }} {{ student.last_name }}</h3>
          <p class="group-text">{{ student.status }} | {{ student.role }}</p>
        </div>
        <div class="l-side">
          <!-- update -->
           <!-- (click)="openEditDialog(student._id)" -->
          <button class="hover:cursor-pointer mx-1" >
            <mat-icon class="mat-18">edit_square</mat-icon>
          </button>
          <!-- delete -->
          <button class="hover:cursor-pointer mx-1">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>

<!-- Students Without Group Template -->
<ng-template #studentsWithoutGroupTemplate>
  <div class="border-2 border-opacity-300 rounded-lg m-5 p-5">
    <h2 class="font-medium text-xl">Students Without Group</h2>

    <div class="groups my-4 mx-2 grid sm:grid-cols-1 md:grid-cols-2 gap-5">
      @for (student of studentsPerPage; track $index) {
      <div class="group">
        <div class="r-side">
          <h3 class="group-title">{{ student.first_name }} {{ student.last_name }}</h3>
          <p class="group-text">{{ student.status }} | {{ student.role }}</p>
        </div>
        <div class="l-side">
          <!-- update -->
           <!-- (click)="openEditDialog(student._id)" -->
          <button class="hover:cursor-pointer mx-1" >
            <mat-icon class="mat-18">edit_square</mat-icon>
          </button>
          <!-- delete -->
          <button class="hover:cursor-pointer mx-1">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>

<!-- Groups Template -->
<ng-template #groupsTemplate>
  <div class="border-2 border-opacity-300 rounded-lg m-5 p-5">
    <h3
      class="mb-5 font-bold text-black transition-all duration-500 ease-in-out opacity-100 animate-fade-in"
      *ngIf="selectedGroupName"
    >
      Group Name: <span class="font-semibold text-green-400">{{ selectedGroupName }}</span>
    </h3>

    <div class="groups my-4 mx-2 grid sm:grid-cols-1 md:grid-cols-2 gap-5">
      @for (group of studentsPerPage; track $index) {
      <div class="group">
        <div class="r-side">
          <h3 class="group-title">{{ group.first_name }} {{ group.last_name }}</h3>
          <p class="group-text">{{ group.status }} | {{ group.role }}</p>
        </div>
        <div class="l-side">
          <!-- update -->
            <!-- (click)="openDialog(group._id)" -->
          <button class="hover:cursor-pointer mx-1">
            <mat-icon class="mat-18">edit_square</mat-icon>
          </button>
          <!-- delete -->
          <button class="hover:cursor-pointer mx-1">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>


<app-paginator
  [length]="allStudent.length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  (page)="onPageChange($event)">
</app-paginator>
