<div toastContainer class="fixed top-4 left-[70%]"></div>
<section class="auth-layout bg-black h-[100%]">
  <div
    class="container mx-auto py-auto px-4 md:px-0 h-[100%] flex items-center justify-center"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <div class="logo">
          <img
            src="assets/images/Logo-white.svg"
            alt="logo"
            class="w-[30%] h-[100%]"
          />
        </div>
        <div class="mt-5">
          <div class="forms-input">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
      <div class="h-[100%]">
        <img
          src="assets/images/auth-img.png"
          class="h-[90%] w-[100%] hidden md:block"
          alt="auth"
        />
      </div>
    </div>
  </div>
</section>
