<div class="dashboard-container">
  <!-- Left Top Buttons -->
  <div class="left-top-buttons">
    <div class="button-card" (click)="openAddQuizDialog()">
      <div class="button-icon-container">
        <img src="assets/icons/new quiz icon.png" alt="New Quiz Icon" />
      </div>
      <span class="button-text">Set up a new quiz</span>
    </div>
    <div class="button-card" [routerLink]="['/instructor/question']">
      <div class="button-icon-container">
        <img src="assets/icons/Vault icon.png" alt="Vault Icon" />
      </div>
      <span class="button-text">Question Bank</span>
    </div>
  </div>

  <div class="right-side">
    <!-- Upcoming Quizzes Section -->
    <div class="upcoming-section">
      <h2 class="upcoming-section__title">Upcoming quizzes</h2>
      <div class="flex flex-col gap-4">
        <div
          *ngFor="let quiz of quizzes"
          class="upcoming-quiz-card top-five-student-card"
        >
          <div class="quiz-card">
            <img
              src="assets/images/Quiz img.png"
              alt="Student Image"
              class="quiz-img"
            />
            <div class="quiz-card__text">
              <div class="quiz-card__content">
                <div class="quiz-card__details">
                  <div>
                    <h1 class="font-bold">{{ quiz.title }}</h1>
                    <p>{{ quiz.schadule | date : "dd/MM/yyyy | hh:mm a" }}</p>
                  </div>
                  <div>
                    <h1>No. of students enrolled: {{ quiz.participants }}</h1>
                  </div>
                </div>
                <div class="flex items-center ">
                  <button class="quiz-open-btn">
                    Open
                    <span class="quiz-open-btn__dot"></span>
                  </button>

                   <button class="mx-2 "
                    [routerLink]="['/instructor/quizzes/details' , quiz._id]">
                    <mat-icon class="text-base">arrow_forward</mat-icon>
                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Completed Quizzes Section -->
    <div class="completed-section">
      <div class="completed-header">
        <h2 class="completed-title">Completed Quizzes</h2>
        <div class="completed-actions">
          <button>Results</button>
          <mat-icon class="text-base">arrow_forward</mat-icon>
        </div>
      </div>
      <div class="completed-table-wrapper">
        <table class="completed-table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th class="hidden md:table-cell">Level</th>
              <th class="hidden md:table-cell">Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let question of completedQuizzes; let i = index"
              class="hover:bg-gray-50"
            >
              <td class="max-w-0 truncate">{{ question.title }}</td>
              <td>{{ question.status }}</td>
              <td class="hidden md:table-cell">{{ question.difficulty }}</td>
              <td class="hidden md:table-cell">{{ question.type }}</td>
              <td>
                <div class="action-btns">
                  <button class="icons"
                  [routerLink]="['/instructor/quizzes/details' , question._id]" >
                    <mat-icon class="mat-18">visibility</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
