<div class="upcoming-5-quizzes-card mt-5">
  <div class="flex gap-[-10px]">
    <img src="assets/images/Quiz img.png" alt="Quiz Image" />
    <div class="upcoming-5-quizzes-card__text py-3 px-5 -translate-x-3">
      <div class="flex flex-col gap-2">
        <div>
          <h1 class="font-bold">{{quiz.title}}</h1>
          <p>{{ quiz.schadule | date: 'dd / MM / yyyy | hh:mm a' }}</p>
        </div>
        <div class="flex justify-between items-center">
          <h1>No. of student’s enrolled: {{ quiz.participants }}</h1>
        </div>
      </div>
      <div class="flex items-center">
        <button class="quiz-open-btn" [routerLink]="['/instructor/quizzes/details', quiz._id]">
          Open
          <span class="quiz-open-btn__dot"></span>
          <mat-icon class="text-base">arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
