<div class="upcoming-5-quizzes-card mt-10">
  <div class="flex gap-[-10px]">
    <img src="assets/images/Quiz img.png" alt="Quiz Image" />
    <div class="upcoming-5-quizzes-card__text py-5 px-10 -translate-x-3">
      <div class="flex flex-col gap-4">
        <div>
          <h1 class="font-bold">{{quiz.title}}</h1>
          <p>{{ quiz.schadule | date: 'dd / MM / yyyy | hh:mm a' }}</p>
        </div>
        <div class="flex justify-between items-center">
          <h1>No. of student’s enrolled: {{ quiz.participants }}</h1>
        </div>
      </div>
      <div class="flex items-center">
        <button class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-green-100 text-green-800">
            Open
            <span class="ml-1 w-2 h-2 bg-green-500 rounded-full"></span>
        </button>
      </div>
    </div>
  </div>
</div>
