<div class="upcoming-5-quizzes-card mt-10">
  <div class="flex gap-[-10px]">
    <img src="assets/images/Quiz img.png" alt="Quiz Image" />
    <div class="upcoming-5-quizzes-card__text py-5 px-10 -translate-x-3">
      <div class="flex flex-col gap-4">
        <div>
          <h1>{{quiz.title}}</h1>
          <p>{{ quiz.schadule | date: 'dd / MM / yyyy | hh:mm a' }}</p>
        </div>
        <div class="flex justify-between items-center">
          <h1>No. of student’s enrolled: {{ quiz.participants }}</h1>
          <button mat-button>Open</button>
        </div>
      </div>
    </div>
  </div>
</div>
