<app-shared-layout>
    <div class="text">
      <h1 class="font-bold text-[25px]" >Change Password</h1>
    </div>
    <div class="mt-2">
      <div class="">
        <form
          class="flex flex-col gap-3"
          [formGroup]="changePasswordForm"
          (ngSubmit)="onSubmit()"
        >

          <div class="w-full auth-form-field">
            <label for="password" class=""> Old Password</label>
            <mat-icon>key</mat-icon>
            <mat-icon (click)="toggleOldPasswordVisibility()" class="eye">{{
              oldPasswordVisible ? "visibility" : "visibility_off"
            }}</mat-icon>
  
            <input
              formControlName="password"
              id="password"
              [type]="oldPasswordVisible ? 'text' : 'password'"
              placeholder="Type your old password"
              required
            />
            @if (changePasswordForm.controls['password'].invalid) {
            <div
              class="error-message text-red-600 text-[0.8rem] mt-3"
              *ngIf="changePasswordForm.controls['password'].errors?.['required'] && changePasswordForm.controls['password'].touched"
            >
              Password is required
            </div>
  
            }
          </div>
          <div class="w-full auth-form-field">
            <label for="password_new" class=""> New Password</label>
            <mat-icon>key</mat-icon>
            <mat-icon (click)="toggleNewPasswordVisibility()" class="eye">{{
              newPasswordVisible ? "visibility" : "visibility_off"
            }}</mat-icon>
  
            <input
              formControlName="password_new"
              id="password_new"
              [type]="newPasswordVisible ? 'text' : 'password'"
              placeholder="Type your new password"
              required
            />
            @if (changePasswordForm.controls['password_new'].invalid) {
            <div
              class="error-message text-red-600 text-[0.8rem] mt-3"
              *ngIf="changePasswordForm.controls['password_new'].errors?.['required']
              && changePasswordForm.controls['password_new'].touched "
            >
              Password is required
            </div>
  
            }
          </div>
          <div class="w-full auth-form-field">
            <label for="password_confirm" class="">Confirm  New Password</label>
            <mat-icon>key</mat-icon>
            <mat-icon (click)="toggleConfirmPasswordVisibility()" class="eye">{{
              confirmPasswordVisible ? "visibility" : "visibility_off"
            }}</mat-icon>
  
            <input
              formControlName="password_confirm"
              id="password_confirm"
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              placeholder="Type your confirm password"
              required
            />
            @if (changePasswordForm.controls['password_confirm'].invalid) {
            <div
              class="error-message text-red-600 text-[0.8rem] mt-3"
              *ngIf="changePasswordForm.controls['password_confirm'].errors?.['required'] && changePasswordForm.controls['password_confirm'].touched"
            >
              Password is required
            </div>
  
            }
          </div>
          @if (changePasswordForm.errors?.['mismatch'] && changePasswordForm.touched) {
            <div class="error-message text-red-600 text-[0.8rem] mt-2">
              New password and confirmation do not match.
            </div>
          }
          
          <div class="mt-5 flex justify-between items-center">
            <button class="submit-button" [disabled]="changePasswordForm.invalid">
              Change <mat-icon>check</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
  </app-shared-layout>