<aside
  class="w-20 lg:w-[10.07rem] min-h-screen bg-[#ffff] border-r border-[#00000033] flex flex-col py-4 items-center lg:items-start"
>
  <!-- Navigation Items -->
  <nav class="flex flex-col gap-4 w-full">
    <!-- Dashboard -->
    <a
      href="#"
      class="flex items-center border-b border-[#00000033] gap-4 px-4 py-2 w-full text-black font-medium hover:bg-white transition"
    >
      <img
        src="assets/icons/dashboard.svg"
        alt="Dashboard"
        class="w-6 h-6 bg-[#FFEDDF] p-[3px] rounded-lg"
      />
      <span class="hidden lg:inline">Dashboard</span>
    </a>

    <!-- Groups -->
    <a
      href="#"
      class="flex items-center border-b border-[#00000033] gap-4 px-4 py-2 w-full text-black font-medium hover:bg-white transition"
    >
      <img
        src="assets/icons/Students.svg"
        alt="Groups"
        class="w-6 h-6 bg-[#FFEDDF] p-[3px] rounded-lg"
      />
      <span class="hidden lg:inline">Groups</span>
    </a>

    <!-- Quizzes -->
    <a
      href="#"
      class="flex items-center border-b border-[#00000033] gap-4 px-4 py-2 w-full text-black font-medium hover:bg-white transition"
    >
      <img
        src="assets/icons/Quiz icon.svg"
        alt="Quizzes"
        class="w-6 h-6 bg-[#FFEDDF] p-[3px] rounded-lg"
      />
      <span class="hidden lg:inline">Quizzes</span>
    </a>

    <!-- Results -->
    <a
      href="#"
      class="flex items-center gap-4 px-4 py-2 w-full text-black font-medium hover:bg-white transition"
    >
      <img
        src="assets/icons/Results icon.svg"
        alt="Results"
        class="w-6 h-6 bg-[#FFEDDF] p-[3px] rounded-lg"
      />
      <span class="hidden lg:inline">Results</span>
    </a>
  </nav>
</aside>
