<aside
  class="w-20 lg:w-[10.07rem] min-h-[100vh] md:h-full bg-[#ffff] border-r border-[#00000033] flex flex-col py-4 items-center lg:items-start"
>
  <!-- Navigation Items -->
  <nav class="flex flex-col gap-4 w-full">
    <!-- Dashboard -->
    <a
      [routerLink]="['/instructor/Homepage']"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      #rlaDashboard="routerLinkActive"
      class="flex items-center border-b border-[#00000033] gap-4 px-4 py-2 w-full text-black font-medium hover:bg-white transition"
    >
      <img
        [src]="
          rlaDashboard.isActive
            ? 'assets/icons/active_icons/Dashboard.svg'
            : 'assets/icons/dashboard.svg'
        "
        alt="Dashboard"
        class="w-6 h-6 p-[3px] rounded-lg"
        [ngClass]="rlaDashboard.isActive ? 'bg-black' : 'bg-[#FFEDDF]'"
      />
      <span class="hidden lg:inline">Dashboard</span>
    </a>

    <!-- Groups -->
    <a
      [routerLink]="['/instructor/groups']"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="setPageTitle('Groups')"
      #rlaGroups="routerLinkActive"
      class="flex items-center border-b border-[#00000033] gap-4 px-4 py-2 w-full text-black font-medium hover:bg-white transition"
    >
      <img
        [src]="
          rlaGroups.isActive
            ? 'assets/icons/active_icons/Students icon.svg'
            : 'assets/icons/Students.svg'
        "
        alt="Groups"
        class="w-6 h-6 p-[3px] rounded-lg"
        [ngClass]="rlaGroups.isActive ? 'bg-black' : 'bg-[#FFEDDF]'"
      />
      <span class="hidden lg:inline">Groups</span>
    </a>
    <!-- Groups -->
    <a
      [routerLink]="['/instructor/students']"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="setPageTitle('Students')"
      #rlaStudents="routerLinkActive"
      class="flex items-center border-b border-[#00000033] gap-4 px-4 py-2 w-full text-black font-medium hover:bg-white transition"
    >
      <img
        [src]="
          rlaStudents.isActive
            ? 'assets/icons/active_icons/Students icon.svg'
            : 'assets/icons/Students.svg'
        "
        alt="Students"
        class="w-6 h-6 p-[3px] rounded-lg"
        [ngClass]="rlaStudents.isActive ? 'bg-black' : 'bg-[#FFEDDF]'"
      />
      <span class="hidden lg:inline">Students</span>
    </a>

    <!-- Quizzes -->
    <a
      [routerLink]="['/instructor/quizzes']"
      routerLinkActive="active-link"
      (click)="setPageTitle('Quizzes')"
      [routerLinkActiveOptions]="{ exact: true }"
      #rlaQuizzes="routerLinkActive"
      class="flex items-center border-b border-[#00000033] gap-4 px-4 py-2 w-full text-black font-medium hover:bg-white transition"
    >
      <img
        [src]="
          rlaQuizzes.isActive
            ? 'assets/icons/active_icons/Quiz icon.svg'
            : 'assets/icons/Quiz icon.svg'
        "
        alt="Quizzes"
        class="w-6 h-6 p-[3px] rounded-lg"
        [ngClass]="rlaQuizzes.isActive ? 'bg-black' : 'bg-[#FFEDDF]'"
      />
      <span class="hidden lg:inline">Quizzes</span>
    </a>

    <!-- Results -->
    <a
      [routerLink]="['/instructor/results']"
      routerLinkActive="active-link"
      (click)="setPageTitle('Results')"
      [routerLinkActiveOptions]="{ exact: true }"
      #rlaResults="routerLinkActive"
      class="flex items-center gap-4 px-4 py-2 w-full text-black font-medium hover:bg-white transition"
    >
      <img
        [src]="
          rlaResults.isActive
            ? 'assets/icons/active_icons/Results icon.svg'
            : 'assets/icons/Results icon.svg'
        "
        alt="Results"
        class="w-6 h-6 p-[3px] rounded-lg"
        [ngClass]="rlaResults.isActive ? 'bg-black' : 'bg-[#FFEDDF]'"
      />
      <span class="hidden lg:inline">Results</span>
    </a>
  </nav>
</aside>
