.custom-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  .input-label-box {
    background-color: #ffefdf;
    padding: 8px 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1;
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .custom-mat-field {
    flex-grow: 1;
    margin-left: 110px;

    input {
      border: 1px solid #0000004d;
      height: 40px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      margin-top: 4px;
      border-left: none;
      width: 100%;
      padding-left: 10px;
      transform: translateX(-5px);
    }
  }
}
