.custom-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  .mat-mdc-select-arrow svg {
    transform: translate(-50%, -80%) !important;
  }
  .mat-mdc-text-field-wrapper {
    background: none !important;
    border: 1px solid black !important;
    transform: translateX(-8px);
    height: 40px;
    margin-top: 14px;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .input-label-box {
    background-color: #ffefdf;
    padding: 9px 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .custom-mat-field {
    flex-grow: 1;
    margin-left: 120px;
    margin-top: 6px;

    .mat-form-field-wrapper {
      padding: 0;
    }

    .mdc-text-field__input {
      transform: translateY(-8px);
    }
    .mat-input-element {
      border: none;
      outline: none;
      font-size: 14px;
      padding: 0;
      height: 100%;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-subscript-wrapper {
      display: none;
    }
  }
}
