<app-shared-layout>
  <div class="text">
    <h1>Create your account and start using QuizWiz!</h1>
  </div>
  <!-- sign up icon -->
  <div class="mt-5 flex justify-start items-center gap-8">

   <a routerLink="/auth/login" routerLinkActive="active" >
    <button class="auth-button "  >
      <div class="flex flex-col items-center gap-4">
        <img src="assets/icons/signInN.png" alt="Sign In" class="w-8 h-8" />
        <p class="text-sm">Sign in</p>
      </div>
    </button>
   </a>

    <button class="auth-button  active">
      <div class="flex flex-col items-center gap-4">
        <img src="assets/icons/signUpActive.png" alt="Sign Up" class="w-10 h-8" />
        <p class="text-sm">Sign Up</p>
      </div>
    </button>

  </div>
  <!-- form -->

  <div class="mt-2">
    <div class="">
      <form
        class="flex flex-col gap-3"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
      >
      <div class="flex  justify-between items-center  md:col-2 sm:col-1">
      <div class="w-[48%]  auth-form-field">
        <label for="firstName" class="">Your First Name </label>
        <mat-icon>person_edit</mat-icon>
        <input
          formControlName="first_name"
          id="firstName"
          type="text"
          placeholder="Enter your first Name"
          required
        />
        @if (registerForm.controls['first_name'].touched ) {
        <div
          class="error-message "
          *ngIf="registerForm.controls['first_name'].errors?.['required']
          && registerForm.controls['first_name'].touched "
        >
        first name is required
        </div>
        <div
          class="error-message "
          *ngIf="registerForm.controls['first_name'].errors"
        >
          Invalid Name format
        </div>
        }
      </div>
      <div class="w-[48%]   auth-form-field">
        <label for="last_name" class="">Your Last Name </label>
        <mat-icon>person_edit</mat-icon>
        <input
          formControlName="last_name"
          id="last_name"
          type="text"
          placeholder="Enter your last Name"
          required
        />
        @if (registerForm.controls['last_name'].touched ) {
        <div
          class="error-message "
          *ngIf="registerForm.controls['last_name'].errors?.['required']
          && registerForm.controls['last_name'].touched "
        >
        last name is required
        </div>
        <div
          class="error-message "
          *ngIf="registerForm.controls['last_name'].errors"
        >
          Invalid Name format
        </div>
        }
      </div>
      </div>


        <div class="w-full auth-form-field">
          <label for="email" class="">Your email address</label>
          <mat-icon>mail</mat-icon>
          <input
            formControlName="email"
            id="email"
            type="email"
            placeholder="Enter your email"
            required
          />
          @if (registerForm.controls['email'].touched ) {
          <div
            class="error-message "
            *ngIf="registerForm.controls['email'].errors?.['required']
            && registerForm.controls['email'].touched "
          >
            Email is required
          </div>
          <div
            class="error-message "
            *ngIf="registerForm.controls['email'].errors?.['email']"
          >
            Invalid email format
          </div>
          }
        </div>

        <div class="w-full auth-form-field mt-2">
          <label for="role" class="">Your Role</label>
          <mat-form-field class="w-full">
            <!-- <mat-label>Your Role</mat-label> -->
            <mat-select name="role"  class="inputStyle w-full"
            required  formControlName="role">
              @for (UrRole of role; track UrRole) {
                <mat-option [value]="UrRole">{{UrRole}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          @if (registerForm.controls['role'].touched ) {
          <div
            class="error-message "
            *ngIf="registerForm.controls['role'].errors?.['required']
            && registerForm.controls['role'].touched "
          >
            role is required
          </div>
          <div
            class="error-message "
            *ngIf="registerForm.controls['role'].errors?.['role']"
          >
            Invalid role format
          </div>
          }
        </div>

        <div class="w-full auth-form-field">
          <label for="password" class="">Password</label>
          <mat-icon>key</mat-icon>
          <mat-icon (click)="togglePasswordVisibility()" class="eye">{{
            passwordVisible ? "visibility_off" : "visibility"
          }}</mat-icon>

          <input
            formControlName="password"
            id="password"
            [type]="passwordVisible ? 'text' : 'password'"
            placeholder="Enter your password"
            required
          />
          @if (registerForm.controls['password'].invalid && registerForm.controls['password'].touched ) {
          <div
            class="error-message "
            *ngIf="registerForm.controls['password'].errors?.['required']"
          >
            Password is required
          </div>

          }
        </div>
        <div class="mt-5 ">
          <button class="submit-button">
            Sign Up <mat-icon>check</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</app-shared-layout>
