::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(0, 0, 0, 0.2) !important;
  padding: 0 !important;
  border: none !important;
}
::ng-deep .mat-mdc-select-arrow svg {
  fill: gainsboro !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

// .error-message {
//   @apply text-red-600 text-[0.8rem] mt-1 m-0 p-0;
// }
